<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Starter Pack</title>
</head>
<body>
    <header>
        <h1>buildng List</h1>
    </header>
    <main>
        <p>building Lists</p>
        <a href="/room/add-Room">Add room</a>
    </main>
    <footer>
        <p>&copy; 2023 kelvin gaul</p>
    </footer>
</body>
</html>